<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("partials/header") %>
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          <% cars.forEach(car => { %> <%console.log(car.image)%>
          <div class="col mb-5">
            <div class="card h-100">
              <img
                class="card-img-top img-fluid h-100 object-fit-cover"
                src="/images/<%= car.image %>"
                alt="<%= car.name %>"
              />
              <div class="card-body p-1">
                <div class="text-center">
                  <h5><%= car.name %></h5>
                  <h5>R<%= car.price %></h5>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <% if (!bagsIncart.includes(car.bag_id)) { %>
                  <button
                    id="<%= car.bag_id %>"
                    class="btn btn-outline-dark mt-auto"
                  >
                    Add to cart
                  </button>
                  <% } else { %>
                  <button id="<%= car.bag_id %>" class="btn btn-outline-dark">
                    In Cart
                  </button>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>
    <%- include("partials/footer") %>
    <script src="/js/main.js"></script>
  </body>
</html>
